[Unit]
Description=Start frontend for dashboard
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/home/dan/.nvm/versions/node/v22.13.1/bin/npm start
WorkingDirectory=/home/dan/src/dashboard/frontend
Restart=always
RestartSec=5s
StandardOutput=journal
StandardError=journal
User=dan
Group=dan
Environment=PATH=/home/dan/.nvm/versions/node/v22.13.1/bin:/usr/bin:/usr/local/bin
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
