[Unit]
Description=Pi5 Dashboard Backend
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/dan/src/Pi5Dashboard
ExecStart=/bin/bash /home/dan/src/Pi5Dashboard/backend.sh
Restart=always
RestartSec=5
User=dan
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target

