[Unit]
Description=Start docker container db for dashboard
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/home/dan/src/dashboard/runDb.sh
WorkingDirectory=/home/dan/src/dashboard
Restart=always
RestartSec=5s
ExecStop=/usr/bin/docker compose down
StandardOutput=journal
StandardError=journal
User=dan
Group=docker

[Install]
WantedBy=multi-user.target
